.container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.error {
    text-align: center;
    border-radius: 3px;
    border: 1px solid red;
    background-color: #ffbfbf;
    margin: 5px;
    padding: 5px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    transition: 0.3s;
    border-radius: 5px;
    width: 70vw;
    max-height: 70vh;
  }

  .background {
    background-image: url('../../assets/ocean.png');
    background-size: cover;
    border-radius: 5px 5px 0 0;
    width: 100%;
    max-width: 50vw;
}

  .side-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  }

  .title, .form {
      text-align: center;
      background-color:  #ededed;
  }

  /* button styles */
  .btn {
      margin-bottom: 15px;
  }

  button {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    border: 2px solid #148bb3;
}

button:hover {
    cursor: pointer;
    border: 2px solid #148bb3;
    color: white;
    background-color: #148bb3;
}

  @media screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        max-height: 90vh;
        width: 50vw;
    }
    .background {
        max-width: 100%;
        max-height: 50vh;
    }
    img {
        max-height: 50vh;
    }
    .title, .form {
        background-color: white;
    }
  }

  @media screen and (max-width: 600px) {
      .card {
          width: 80vw;
      }
      .container {
          margin-top: 20px;
          margin-bottom: 20px;
      }
  }