.navbar {
    display: flex;
    align-items: stretch;
    background-color: #bdb7b8;
}

img {
    max-width: 300px;
}

.lou-logo {
    padding-left: 10px;
    padding-right: 10px;
}
.search-bar {
    flex-grow: 2;
    margin-top: 22px
}

#nav-links {
    display: flex;
    align-items: stretch;
}

.active, #link:hover {
    background-color: #8a8787;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#link {
    padding: 32px 10px 32px 10px; 
}