<div class="navbar">
      <div class="lou-logo">
        <img src="../assets/LouandMickeysLogo2.png" alt="Lou and Mickey's logo">
      </div>
      <div class="search-bar">
        <app-search-bar (tabEvent)="displayTab($event)"></app-search-bar>
      </div>
      <div id="nav-links">
        <div id="link" 
          [ngClass] = "{'active': this._tab.currentTab === 1 || this._admin.tab === 1}" 
          (click)= "this._search.clearSearch(); 
          this._tab.currentTab=1"
          [routerLink] = "'/wbgList'"
        >
          <a>
            All WBG
          </a>
        </div>
        <div id="link" 
          [ngClass] = "{'active': this._tab.currentTab===2}" 
          (click)= "this._search.clearSearch(); 
          this._tab.currentTab=2; 
          this._admin.tab = 0"
          [routerLink] = "'/redWine'"
        >
          <a>
            Red Wine
          </a>
        </div>
        <div id="link"
          [ngClass] = "{'active': this._tab.currentTab===3}" 
          (click)= "this._search.clearSearch(); 
          this._tab.currentTab=3; 
          this._admin.tab = 0"
          [routerLink] = "'/whiteWine'"
        >
          <a>
            White Wine
          </a>
        </div>
        <div id="link" 
          [ngClass] = "{'active': this._tab.currentTab===4}"
          (click)="this._search.clearSearch();
          this._tab.currentTab=4; 
          this._admin.tab = 0"
          [routerLink] = "'/sparklingWine'"
        >
          <a>
            Sparkling Wine
          </a>
        </div>
        <div *ngIf="this._admin.loggedIn" id="link"
        [ngClass] = "{'active': this._tab.currentTab===5}" 
        (click)="this._search.clearSearch(); 
        this.clearInputs();
        this._tab.currentTab=5; 
        this._admin.tab = 0"
        [routerLink] = "'/newWBG'"
        >
          <a>
            Add New WBG
          </a>
        </div>
        <div *ngIf="!this._admin.loggedIn; else logout" id="link" 
          (click)= "this._search.clearSearch(); 
          this._tab.currentTab=0; 
          this._admin.tab = 0"
          [routerLink] = "'/adminLogin'"
        >
          <a *ngIf="!this._admin.loggedIn">
            Admin Login
          </a>
          </div>
          <ng-template #logout>

          <!-- <div id="icon">
          <ion-icon name="person-circle-outline"></ion-icon>
          </div> -->

          <div id="link"
            (click)= "this._search.clearSearch(); 
            this._admin.logout();
            this.showDialog();
            this.tab=0; 
            this._admin.tab = 1"
            [routerLink] = "'/wbgList'"
          >
          <a>
            Logout
          </a>
        </div>


        </ng-template>
    </div>
</div>
<modal id="modal_1" class="hhidden">
  <div class="modal-content">
    Admin access has been logged out
  </div>
  <button class="modal-btn">Back to WBG</button>
</modal>
