/* Navbar styling, used flexbox to be responsive */
/* .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 10px  0 rgba(0,0,0,0.2);
}

img {
    width: 100vw;
}

.lou-logo {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 300px;
}
.search-bar {
    flex-grow: 3;
    flex-basis: 300px;
}

#nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 300px;
}

.active, #link:hover {
    cursor: pointer;
    transition: 0.6s ease-out;
    border-bottom: solid 2px black;
}

#link {
    padding: 10px 10px
} */

/* Dropdown container - needed to position the dropdown content */
/* Style the dropdown a tag to fit inside the navbar */
/* .dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } */

  /* Style the dropdown content (hidden by default) */
/* .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */

/* Style the links inside the dropdown */
/* .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  } */

/* Add a grey background to dropdown links on hover */
/* .dropdown-content a:hover {
    background-color: #ededed;
    color: black;
  } */

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
/* .dropdown:hover .dropdown-content {
    display: block;
  } */

/*show or hide the logout popup*/
/* .sshow {
    display: block;
}

.hhidden {
    display: none;
}

.modal-content {
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .modal-content {
        flex-direction: column;
    }
} */

/* Navbar styling, used flexbox to be responsive */
.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 4px 10px  0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 10px  0 rgba(0,0,0,0.2);
}

img {
    width: 100vw;
}

.lou-logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
}
.search-bar {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
}

#nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
}

.active, #link:hover {
    cursor: pointer;
    -webkit-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    border-bottom: solid 2px black;
}

#link {
    padding: 10px 10px
}

/* Dropdown container - needed to position the dropdown content */
/* Style the dropdown a tag to fit inside the navbar */
.dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  /* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ededed;
    color: black;
  }

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
  }

/*show or hide the logout popup*/
.sshow {
    display: block;
}

.hhidden {
    display: none;
}

.modal-content {
    padding: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 600px) {
    .modal-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}