.container {
    display: flex;
    justify-content: center;
}

.properties {
    display: flex;
    padding-top: 10px;
}

.category {
    flex-basis: 30%;
}

img {
    max-height: 200px;
    max-width: 200px;
}

h1 {
    text-align: center;
}