<p>new-wbg works!</p>
<h1>Add New Wine by the Glass</h1>

<form>
    Category type
    <select [(ngModel)]="this._wine.newWine.category" name="category">
        <option value="red">red</option>
        <option value="white">white</option>
        <option value="sparkling">sparkling</option>
    </select><br>
    Name<input [(ngModel)]="this._wine.newWine.name" name="name" type="text"><br>
    Producer<input [(ngModel)]="this._wine.newWine.producer" name="producer" type="text"><br>
    Grape<input [(ngModel)]="this._wine.newWine.grape" name="grape" type="text"><br>
    Country<input [(ngModel)]="this._wine.newWine.country" name="country" type="text"><br>
    Region<input [(ngModel)]="this._wine.newWine.region" name="region" type="text"><br>
    Sub Region<input [(ngModel)]="this._wine.newWine.subRegion" name="subRegion" type="text"><br>
    Appearance<input [(ngModel)]="this._wine.newWine.apperance" name="appearance" type="text"><br>
    Nose<input [(ngModel)]="this._wine.newWine.nose" name="nose" type="text"><br>
    Palate<input [(ngModel)]="this._wine.newWine.palate" name="palate" type="text"><br>
    ABV<input [(ngModel)]="this._wine.newWine.abv" name="abv" type="text"><br>
    Wine Making Notes<input [(ngModel)]="this._wine.newWine.wineMakingNotes" name="wineMakingNotes" type="text"><br>
    Food Pairings<input [(ngModel)]="this._wine.newWine.foodPairings" name="foodPairings" type="text"><br>
    Notes<input [(ngModel)]="this._wine.newWine.notes" name="notes" type="text"><br>
    Upload label image<input type="file" (change)="onFileSelected($event)"><br>
    <button type="button" (click)="onUpload()">Submit New Wine</button>
</form>
