<p>red-wine works!</p>
<div class="container" *ngIf="this._wine.redWine">
    <div class="container">
        <div class="wine" *ngFor="let wine of this._wine.redWine">
            <div class="labelImage">
                <img src="{{wine.labelImage}}" alt="wine labelImage"><br>
            </div>
            <div class="description">
                    <div class="nameTitle">
                        {{wine.name}}
                    </div>
                <strong>Producer:</strong> {{wine.producer}}<br>
                <strong>Grape:</strong> {{wine.grape}}<br>
                <strong>Country:</strong> {{wine.country}}<br>
                <strong>Region:</strong> {{wine.region}}<br>
                <strong>Sub Region:</strong> {{wine.subRegion}}<br>
                <strong>Appearance:</strong> {{wine.apperance}}<br>
                <strong>Nose:</strong> {{wine.nose}}<br>
                <strong>Palate:</strong> {{wine.palate}}<br>
                <strong>ABV:</strong> {{wine.abv}}<br>
                <strong>Winemaking Notes:</strong> {{wine.wineMakingNotes}}<br>
                <strong>Food Pairings:</strong> {{wine.foodPairings}}<br>
                <strong>Notes:</strong> {{wine.notes}}<br>
            </div>
        </div>
    </div>
</div>