<div *ngIf="!this._wine.previousWines" class="load-container"> 
    <h4>Loading Wines...</h4>
    <div class="loader"></div>
</div>

<div *ngIf="this._wine.previousWines.length === 0; else wines">
    <h4>Sorry, there are no previous wines yet!</h4>
</div>

<ng-template #wines>

<div>
    <h4>All previously deleted wines from WBG list</h4>
</div>

<div *ngIf="this._wine.previousWines">
    <div class="container">
        <div class="wine" *ngFor="let wine of this._wine.previousWines">
            <div class="label">
                <img class="img2" src="{{wine.labelImage}}" alt="label">
            </div>
            <div class="properties">
                <div class="title">
                    {{wine.name}}<br>
                    <span>{{wine.subRegion}}, {{wine.region}}<br></span>
                    <span>{{wine.country}}</span>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Palate</span></div>
                    <div class="value">{{wine.palate}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Pairings</span></div>
                    <div class="value">{{wine.foodPairings}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Nose</span></div>
                    <div class="value">{{wine.nose}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Appearance</span></div>
                    <div class="value">{{wine.apperance}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Producer</span></div>
                    <div class="value">{{wine.producer}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Grape</span></div>
                    <div class="value">{{wine.grape}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>ABV</span></div>
                    <div class="value">{{wine.abv}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Winemaking</span></div>
                    <div class="value">{{wine.wineMakingNotes}}</div>
                </div>
                <div class="descriptors">
                    <div class="key"><span>Notes</span></div>
                    <div class="value">{{wine.notes}}</div>
                </div>
                <div class="button-container">
                    <div class="update"><button id="update-btn" *ngIf="this._admin.loggedIn" (click)="this._wine.addBackToList(wine)">Place back on list</button></div>
                    <div class="delete"><button id="delete-btn" *ngIf="this._admin.loggedIn" (click)="this._wine.deleteIndefinitely(wine)">Remove indefinitely</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

</ng-template>

