
/* refactored */

.img2 {
    min-height: 45vh;
    max-width: 300px;
    max-height: 45vh;
}

.label {
    width: 30vw;
    text-align: center;
}

.title {
    font-family: 'fjalla', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: .8;
    padding: 10px;
}

span {
    font-family: 'fjalla', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.descriptors {
    display: flex;
    justify-content: center;
    line-height: 1.3;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.delete, .update {
    padding: 5px;
}

button {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    border: none;
}

button:hover {
    cursor: pointer;
    border: none;
}

#update-btn:hover {
    background-color: #f7ecab;
}

#delete-btn:hover {
    background-color: #ffbfbf;
}

.properties {
    width: 70vw;
}

.key {
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    margin-right: 1rem;
    text-align: right;
    width: 20%;
}

.value {
    font-family: 'roboto', sans-serif;
    text-align: left;
    width: 80%;
}

.wine-2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5vh 15vw 0 15vw;
}
