<h1>Update {{_wine.newWine.name}}</h1>

<div class="container">
    <form class="formContainer">
        <div class="properties">
            <div class="category">Category type</div>
            <div class="input">
                <select [(ngModel)]="this._wine.newWine.category" name="category">
                    <option value="red">red</option>
                    <option value="white">white</option>
                    <option value="sparkling">sparkling</option>
                </select>
            </div>
        </div>
        <div class="properties">
            <div class="category">Name</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.name" name="name" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Producer</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.producer" name="producer" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Grape</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.grape" name="grape" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Country</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.country" name="country" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Region</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.region" name="region" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Sub Region</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.subRegion" name="subRegion" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Appearance</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.apperance" name="appearance" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Nose</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.nose" name="nose" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Palate</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.palate" name="palate" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">ABV</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.abv" name="abv" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Winemaking Notes</div>
            <div class="input"><textarea rows="4" cols="40" [(ngModel)]="this._wine.newWine.wineMakingNotes" name="wineMakingNotes" type="text"></textarea></div>
        </div>
        <div class="properties">
            <div class="category">Food Pairings</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.foodPairings" name="foodPairings" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Notes</div>
            <div class="input"><input [(ngModel)]="this._wine.newWine.notes" name="notes" type="text" size="40"></div>
        </div>
        <div class="properties">
            <div class="category">Upload label image<input type="file" (change)="onFileSelected($event)"></div>
        </div>
        <div class="properties">
            <div class="previewImageButton"><button type="button" (click)="previewImage()">Preview Label Image</button></div>
        </div>
        <div class="properties">
            <div class="labelImage" *ngIf="this._wine.selectedFile.labelImage">
                <img src="{{this._wine.selectedFile.labelImage}}" alt="selected labelImage"><br>
            </div>
        </div>
        <button type="button" (click)="onUpdateWine()">Submit updated wine</button><br>
        <button type="button" (click)="cancel()">Cancel</button>
    </form>
</div>
